<h3> About our founder </h3>
<p> Our founder, Tomaz Rodrigues founded this site out of his deep desire to improve his coding skills</p>
<p>His interests include Ruby on Rails, React, Redux, Bootstrap, Jquery. </p>
<p>He also has a second, much more elegantly coded site coming soon to a Heroku near you. </p> 
<a href="https://github.com/Carpe-Omnia" >
  <p> See his GitHub here </p>
</a>
