<h3> About our founder </h3> 
<p> Our founder, Alex Monseau founded this site out of his deep, deep, deep love of gay sex </p>
<p>His interests include jerking off other men, participating in glory-hole related activities, sucking dong, and licking sweaty testicles </p> 
<br>
<br>
<br>

