<h3> This is the homepage for gaysex.biz </h3> 
<% if session[:user_id] != nil %>
	<% @current_user = User.find_by(id: session[:user_id]) %> 
	<%= "Greetings #{@current_user.name}." %> 
<% end %> 
	

