<h3> This is the homepage for gaysex.biz </h3> 
<% if !!session[:user_id]  %>
	<% @current_user = User.find_by(id: session[:user_id]) %> 
	<% if !!@current_user %>
		<%= "Greetings #{@current_user.name}." %> 
	<% else %> 
		<% session.clear %> 
	<% end %> 	
<% end %> 
<h1> Hey Jen </h1> 
<h1 id="jenholder" onclick="fuck_jen()"> -------- </h1>
<h1 id="jenline" style="display: none">Fuck you and your pistachios </h1> 

<script> 
	function fuck_jen() { 
	document.getElementById("jenholder").style.display = "none" ;
	document.getElementById("jenline").style.display = "block" ;
	}
</script>	

