<div id="center" >
<header>
  <h2 id="main-header">
    Front end static-sample
  </h2>

</header>
<span id="barsets" >
<section id="barset1">
  <div id="first-bar" class="other">
    <p class="bartext">
      <a href="#"> Contact </a>
    </p>
  </div>

  <div id="second-bar" class="other" >
    <p class="bartext">
      <a href="#"> Resume </a>
    </p>
  </div>

  <div id="third-bar" class="other" >
    <p class="bartext">
      <a href="https://github.com/Carpe-Omnia"> Coding  </a>
    </p>
  </div>

  <div id="fourth-bar" class="other">
    <p class="bartext">
      <a href="#"> Non-coding Work </a>
    </p>
  </div>
  <div id="fifth-bar" class="other" >
    <p class="bartext" >
      <a href="#">Source Code</a>
    </p>
  </div>
  <div id="sixth-bar" class="other">
    <p class="bartext">
      <a href="#" > Final Thing </a>
    </p>
  </div>
</section>



<section id="barset2" >
  <div id="first-bar2" class="barset2"></div>
  <div id="second-bar2" class="barset2"></div>
  <div id="third-bar2" class="barset2"></div>
  <div id="fourth-bar2" class="barset2"></div>
  <div id="fifth-bar2" class="barset2"></div>
  <div id="sixth-bar2" class="barset2"></div>
  <div id="seventh-bar2" ></div>
</section>


</span>
</div>
