 .other {
	height: var(--bar-height) ;
	width: var(--bar-width);
    font-size: 2em;
    text-align: center;
    line-height: 1em;
	/*
    margin: 3em auto;
	*/
    transform: rotate(10deg);
    position: absolute;
	top: -10% ; 
	height: 120% ;
    overflow: hidden;
	animation-name: outline-shift ;
	animation-duration: var(--animation-dur) ;
	animation-iteration-count: infinite ;
	animation-direction: alternate ;
	animation-timing-function: linear ;
	opacity: 1 ;
}
  #first-bar:before, #second-bar:before, #third-bar:before, #fourth-bar:before, #fifth-bar:before, #sixth-bar:before {
    content: "";
    position: absolute;
    width: 160%;
    height: 120%;
    top: -10%;
    left: -30%;
    z-index: -1;
	background-size: cover ;
	transform: rotate(-10deg);
	opacity: 1 ;
}

#first-bar {
	left: 2% ;
}
#second-bar {
	left: calc(var(--bar-width) + 2.2% );
}
#third-bar {
	left: calc(var(--bar-width) * 2 + 2.2%)
}
#fourth-bar {
	left: calc(var(--bar-width) * 3 + 2.2%)
}
#fifth-bar {
	left: calc(var(--bar-width) * 4 + 2.2%)
}
#sixth-bar {
	left: calc(var(--bar-width) * 5 + 2.2%)
}
#first-bar:before {
	background-image: url("Color-Theory.jpg") ;
}
#second-bar:before {
	background-image: url("Paris.jpg") ;
}
#third-bar:before {
	background-image: url("Fuji.jpg") ;
}
#fourth-bar:before {
    background-image: url("Mountain.jpg") ;
}
#fifth-bar:before {
	background-image: url("Glitch.jpg") ;
}
#sixth-bar:before{
	background-image: url("Street.jpg") ;
}

/* experimental opacity settings */
/*
#barsets {
	opacity: 0.7 ;
}
#barset2 {
	opacity: 0.5 ;
}
.barset2 {
	opacity: 0.95 ;
}
.other {
	opacity: 1 ;
}
*/